.btn {
    @include rob-bold(22px, 60px);
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.btn-red {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-left: 40px;
    width: 320px;
    height: 60px;
    border-radius: 4px;
	background-image: linear-gradient(to bottom, #f64242, #ce2a2a);
    box-shadow: 0 3px 0 0 #ae2323;
    &::before {
        position: absolute;
        content: '';
        width: 28px;
        height: 34px;
        top: 10px;
        left: 20px;
        background-image: url("../img/ic-gift.png");
    }
    &:hover {
        opacity: .85;
    }
}