html {
    height: 100%;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
//    max-width: 1196px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.center {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    &--center {
        width: 340px;
    }
}

li {
    list-style: none;
}

ul, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    border: none;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#upbutton {
    background: url("../img/up-btn.png") no-repeat scroll;
    height: 47px;
    width: 45px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    overflow: hidden;
    position: fixed;
    transition: .3s;
    z-index: 9999;
}

input,
textarea {
    @include rob-reg(18px, 24px);
    text-align: center;
    color: #555554;
}
textarea {
    margin-top: 30px;
}