.guarantee {
    height: 435px;
    .section-title {
        @include rob-bold(44px, 46px);
        text-transform: uppercase;
        text-align: left;
        background: transparent;
        color: #83592c;
    }
    &__slider {
        position: relative;
        width: 720px;
        margin: 70px auto 0;
        .guarant-prev {
            position: absolute;
            left: -120px;
            top: 20%;
            cursor: pointer;
            &:hover {
                opacity: .65;
            }
        }
        .guarant-next {
            position: absolute;
            right: -120px;
            top: 20%;
            cursor: pointer;
            &:hover {
                opacity: .65;
            }
        }
    }
    &__block {
        height: 250px;
        line-height: 245px;
    }
    &__img {
        display: inline-block;
        width: 240px;
//        margin-right: 30px;
        line-height: normal;
        vertical-align: middle;
    }
    &__descr {
        display: inline-block;
        width: 475px;
        line-height: normal;
        vertical-align: middle;
        h3 {
            @include rob-bold(26px, 35px);
            display: inline-block;
            padding: 5px 15px;
            margin-bottom: 15px;
            text-transform: uppercase;
            text-align: left;
            border-radius: 10px;
            background: #e6be53;
            color: #fff;
        }
        p {
            @include rob-l(18px, 25px);
            color: #4e4e4e;
        }
    }
    &__text {
//        width: 480px;
//        overflow: hidden;
    }
}