.manufacture {
    text-align: center;
    &__item {
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 100px;
        width: 308px;
        text-align: center;
        vertical-align: top;
        font-size: 0;
        &:nth-child(3n) {
            margin-right: 0;
        }
        p {
            @include rob-bold(21px, 25px);
//            width: 315px;
            color: #282828;
        }
    }
}