.modal-general {
    padding-bottom: 45px;
    &__title {
        &--indent-1 {
        margin-top: 90px!important;
    }
 }
    &__dot {
        margin-top: 65px;
        padding-left: 20px;
        background: url("../img/ic-dot-yellow.jpg") 0 9px no-repeat;
    }
    &__wrapper {
        width: 875px;
        margin: 0 auto;
    }
    &__header {
        @include rob-reg(26px, 22px);
        margin: 50px 0;
        text-align: center;
        color: #000;
        &--ic-1 {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: 138px;
                top: -16px;
                width: 55px;
                height: 55px;
                background: url("../img/modal-win-ic-1.jpg") 0 0 no-repeat;
                z-index: 10;
            }
        }
        &--ic-2 {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: 151px;
                top: -16px;
                width: 55px;
                height: 55px;
                background: url("../img/modal-win-ic-2.jpg") 0 0 no-repeat;
                z-index: 10;
            }
        }
        &--ic-3 {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: 180px;
                top: -16px;
                width: 55px;
                height: 55px;
                background: url("../img/modal-win-ic-3.jpg") 0 0 no-repeat;
                z-index: 10;
            }
        }
        &--ic-4 {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: 120px;
                top: -16px;
                width: 55px;
                height: 55px;
                background: url("../img/modal-win-ic-4.jpg") 0 0 no-repeat;
                z-index: 10;
            }
        }
        &--ic-5 {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: 290px;
                top: -16px;
                width: 55px;
                height: 55px;
                background: url("../img/modal-win-ic-5.jpg") 0 0 no-repeat;
                z-index: 10;
            }
        }
        &--ic-6 {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: 215px;
                top: -16px;
                width: 55px;
                height: 55px;
                background: url("../img/modal-win-ic-6.jpg") 0 0 no-repeat;
                z-index: 10;
            }
        }
        &--ic-7 {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: 220px;
                top: -16px;
                width: 55px;
                height: 55px;
                background: url("../img/modal-win-ic-7.jpg") 0 0 no-repeat;
                z-index: 10;
            }
        }
        &--ic-8 {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: 103px;
                top: -16px;
                width: 55px;
                height: 55px;
                background: url("../img/modal-win-ic-8.jpg") 0 0 no-repeat;
                z-index: 10;
            }
        }
    }
    &__img {
        display: inline-block;
        width: 405px;
        margin-right: 30px;
        vertical-align: top;
    }
    &__descr {
        display: inline-block;
        width: 430px;
        vertical-align: top;
        h3 {
            @include rob-bold(18px, 20px);
            display: inline-block;
            padding: 10px 25px;
            margin: 20px 0;
            text-align: center;
            text-transform: uppercase;
            border-radius: 4px;
            background: #719c61;
            color: #fff;
            &:first-child {
                margin-top: 0;
            }
        }
        p {
            @include rob-l(17px, 24px);
        }
    }
}